<router-outlet></router-outlet>
<div class="row">
  <div class="col-md-5">
    <app-liste (msgToCv)="recupererCandidat($event)"></app-liste>
  </div>
  <div class="col-md-7">
    <app-details
      *ngIf="selectedCandidat"
      [selCand]="selectedCandidat"
    ></app-details>
  </div>
</div>
<app-recruter></app-recruter>
<!-- <button (click)="addNewCandidat()" class="btn btn-primary">
  Add New Candidate
</button>
<button (click)="showList()" class="btn btn-warning">
  show Candidats From CV
</button> -->
