<div class="row">
  <div class="encadre col-md-7">
    <h4>{{ oneAccount.nom }} </h4>
    <hr />
    <p>This account is {{ oneAccount.statut }} </p>
    <br />
    <button
      [disabled]="oneAccount.statut == 'active'"
      (click)="changeStatut('active')"
      class="btn btn-success"
    >
      Set to 'active'
    </button>
    <button
      [disabled]="oneAccount.statut == 'inactive'"
      (click)="changeStatut('inactive')"
      class="btn btn-danger"
    >
      Set to 'inactive'
    </button>
    <button
      [disabled]="oneAccount.statut == 'unknown'"
      (click)="changeStatut('unknown')"
      class="btn btn-info"
    >
      Set to 'unknown'
    </button>
  </div>
</div>
