<div class="container">
  <input [(ngModel)]="selectedStatut" type="text" class="form-control" />
  <br />
  <ol class="list-group">
    <li
      [ngClass]="affecterClass(serv.statut)"
      class="list-group-item"
      *ngFor="let serv of tabServers | filter : selectedStatut"
    >
      {{ serv.name | short : 14 }} | {{ serv.type | titlecase }} |
      {{ serv.date_d | date : "fullDate" | uppercase }}
      <span class="badge bg-secondary"> {{ serv.statut }} </span>
    </li>
  </ol>
</div>
